
    <h1>{{title}}</h1>
  
  <form action="/contact" method="POST" id="contact-form">
    Email:<br>
    <input type="email" size="19" name="email">
    <input type="submit" value="Submit"/>
  </form>